*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    font-family: 'Crimson Text', serif;
    font-family: 'Jost', sans-serif;
    font-family: 'Roboto', sans-serif;

}

ul li{
    list-style: none;
}

header{
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    height: 100px;
    padding: 20px 0;
    display: flex;
    box-shadow: 0 0 12px 1px rgba(0, 0, 0, 0.25);
}

.header-logo img {
    width: auto;
    max-width: 95%;
    margin-top: 5px;
/* height: 100%; */
}

.header-menu{
    display: flex;
    align-items: end;
    justify-content: end;
}

.header-menu > ul > li {
    padding-right: 15px;
    font-size: 18px;
    color: #0044b3;
    font-weight: 700;
}

.main-expectation h4, h4 {
    font-weight: 700;
    color: #0044b3;
    font-size: 30px;
}

.main-content h4 {
    color: white;
}

main{
    margin-top: 100px;
    overflow: hidden;
    
}

.main-content{
    background-image: url(../image/33.jpg) ;
    min-height: 90vh;
    background-position: right;
    background-size: cover;
    position: relative;
}

.main-content::before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0; left: 0;
    background-color: rgba(0,0,0,0.5);
}

.main-content > div {
    display: flex;
    justify-content: space-between;
}

.main-content > .container > div:nth-child(1) {
    position: relative;
    margin-top: 20vh;
    color: white;
}
.main-contentTitle {
    color: white;
    text-transform: uppercase;
    letter-spacing: 4.5px;
    font-size: 36px;
}

.main-content > .container > div:nth-child(1) p {
    color: white;
    font-weight: 700;
    font-style: italic;
    font-size: 20px;
}

.main-content > .container > div:nth-child(1) button, .footer-btn {
    padding: 15px 25px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    font-weight: 500;
    display: flex;
    align-items: center;
    line-height: 20px;
    text-transform: uppercase;
    color: white;
    background-color: #0044b3;

    transition: all .5s;
    font-size: 16px;
}

.main-content > .container > div:nth-child(1) button:hover, .footer-btn:hover {

    color: #0044b3;
    background-color: white;
    transition: all .5s;

}


.main-expectation{
    padding: 120px 0;
    position: relative;
    padding-top: 20px;
}

.main-expectation p{
    color: black;
}

.main-expectationImg {
    position: relative;
}

.main-expectationImg  img{
    border-radius: 10px;
    max-width: 50%;
}

.main-expectationImg > div:nth-child(2) img{
    position: absolute;
    right: 0;
    top: 40px;
    left: 40%;
}

.main-why,.main-location, .students, .main-why, .main-partners{
    padding: 80px 0px;
}

/* .stats{
    padding: 120px 0;
} */

.main-expectationStats{
    background-image: url(../image/Confence-Center-2.jpg) ;
  height: 300px; 
    background-position: center;
    background-size: cover;
    padding: 40px 0;
    position: relative;

}

.main-expectationStats::before{
    content: 0;
    position: absolute;
    background-color: black;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: rgba(0,0,0,0.5);
}


.main-expectationStats> .stats {
    height: 100%;
}

.main-expectationStats> .stats > div {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-expectationStatsRound{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 3px solid white;
    display: flex;
    align-self: center;
    justify-content: center;
}

.main-expectationStats h4 {
    color: white;
    margin-top: 20px;
    font-size: 22px;
}

.main-expectationStatsRound i {
    font-size: 56px;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
}

.main-expectationStats p {
    color: white;;
    font-size: 18px;
}

.students h4 {
    text-align: center;
    font-size: 26px;
}

.students > div > div {
    padding-top: 50px ;
}

.students img {
    border-radius: 15px;
    margin-left: 80px;
}

.header-menu li {
    cursor: pointer;
}

.main-location h4,.main-location p  {
    text-align: center;
    color: black;
    font-weight: 700;
}

.main-location h4{
    color: #0044b3;
}

.main-locationSubtitle{
    margin-top: 15px;

}


.main-locationContent{
margin-top: 50px;
display: flex;
flex-wrap: wrap;
/* gap: 10px; */


}
/* .main-locationContent > div {
box-shadow: 0 0 12px 1px rgba(0, 0, 0, 0.25);
width: 90%;

} */

.main-locationContent-date{
    display: flex;
    box-shadow: 0 0 12px 1px rgba(0, 0, 0, 0.25);
    margin-right: 10px;
    padding: 25px 0;
    transition: all .5s;
    cursor: pointer;
    color: white;
    position: relative;
    z-index: 1;
    background: white;
    margin-top: 25px;
}

.main-locationContent-date:hover{
    transform: scale(1.1);
    transition: all .5s;
    position: relative;
    z-index: 200;
    color: white;
}

.main-locationContent-date h4 {
    font-size: 32px;
    font-weight: 900;
    margin-bottom: 0;
}

.main-locationContent-dateSub {
    font-weight: 900;
    text-transform: uppercase;
}

.main-locationContent-datePlace h4, .main-locationContent-datePlace p {
    text-align: start;
}

.main-locationContent-datePlace p {
    margin-bottom: 0;
    margin-top: 10px;
}

.main-locationContent-datePlace i {
    color: #0044b3;
    margin-right: 15px;
    font-weight: 900;
    font-size: 18px;
}

.main-why {
    text-align: center;
}

.main-whyContent {
    display: flex;
    flex-wrap: wrap;
    margin-top: 35px;
}

.main-whyContent > div {
/*     box-shadow: 0 0 12px 1px rgba(0, 0, 0, 0.25); */
}

.main-whyContent > div h4 {
    color: black;
  margin-top: 18px;
}

.main-whyContent > div p {
    color: black;
    padding: 12px 20px;
}

.main-whyContentFigure i {
    color: #0044b3;
    font-size: 48px;
    margin-top: 12px;
}

.main-why{
    padding-bottom: 0;
}

.footer div h4, .main-partners h4  {
    text-align: center;
    font-size: 30px;
}

.footer form {
    margin-top: 25px;
}

footer > form {
    display: flex;
    flex-direction: column;
}

.footer-name {
    display: flex;
}

form > div > div:nth-child(2){
    display: flex;
    justify-content: end;
}

form > div > div > input{
    width: 98%;
    height: 50px;
    margin-bottom: 15px;
}

form > div input:nth-child(1){
    padding-right: 10px;
}

form input{
    height: 50px;
    border: none;
    background: #EAF3FF;
    border-radius: 35px;
}

form textarea {
    margin-top: 15px;
    border: none;
    background: #EAF3FF;
    border-radius: 35px;
    resize: none;
    margin-bottom: 12px;
    padding: 15px 25px;
}

/* .footer > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
 */
.footer-btn{
    text-align: center;
    margin: auto;
    margin-bottom: 12px;
}

.main-partnerContent {
    display: flex;
    flex-wrap: wrap;
    margin-top: 25px;
}

input, textarea{
    padding: 0 25px;
    font-weight: 500;
    font-size: 16px;
    color:#0044b3 ;
}

input:focus-visible, input:focus, input:target, 
textarea:focus-visible, textarea:focus, textarea:target{
    border-color: #0044b3;
    border: 2px solid #0044b3;
    outline: none;
}

.main-partnerContent > div{
    height: 216px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    transition: all .5s;
}

.main-partnerContent > div img {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 25px;
}

.main-partner > div h4 {
    font-size: 30px;
}

.main-partners {
    padding-bottom: 0;
}

/* .main-partnerContent > div :hover{
    box-shadow: 0 0 12px 1px rgba(0, 0, 0, 0.25);
    transition: all .5s;
} */

/* .main-partnerContent > div img:hover {
    transform: scale(1.1);
    transition: all .5s;
} */

.reviews{
    height: 400px;
    background: #0044b3;
    position: relative;
    background-color: #3070e6;
    position: relative;
    overflow: hidden;
}



.circle_shape_2 {
    border-radius: 50%;
    background: rgb(234 243 255);
    opacity: 0.1;
    left: -100px;
    bottom: -120px;
    width: 510px;
    height: 510px;
    -webkit-animation: circleAnimation 7s linear infinite;
    animation: circleAnimation 7s linear infinite;
/*     z-index: -1; */
    position: absolute;
}

@keyframes circleAnimation {
    0%, 100% {
        border-radius: 42% 58% 70% 30%/45% 45% 55% 55%;
        -webkit-transform: translate3d(0, 0, 0) rotateZ(0.01deg);
        transform: translate3d(0, 0, 0) rotateZ(0.01deg);
    }
    34% {
        border-radius: 70% 30% 46% 54%/30% 29% 71% 70%;
        -webkit-transform: translate3d(0, 5px, 0) rotateZ(0.01deg);
        transform: translate3d(0, 5px, 0) rotateZ(0.01deg);
    }
    50% {
        -webkit-transform: translate3d(0, 0, 0) rotateZ(0.01deg);
        transform: translate3d(0, 0, 0) rotateZ(0.01deg);
    }
    67% {
        border-radius: 100% 60% 60% 100%/100% 100% 60% 60%;
        -webkit-transform: translate3d(0, -3px, 0) rotateZ(0.01deg);
        transform: translate3d(0, -3px, 0) rotateZ(0.01deg);
    }
}

.reviews > div:nth-child(2){
    display: flex;
}

.reviews > div:nth-child(2) h4 {
    margin-top: 80px;
    font-size: 48px;
    color: white;
    max-width: 558px;
}

.reviews > div:nth-child(2) p {
    max-width: 450px;
    color: white;
    margin-top: 15px;
}

.swiper {
    margin-top: 80px;
    color: white;
    font-weight: 100;
    padding-left: 20px;
}

.swiper-slide > div:nth-child(1){
    font-style: italic;
    font-weight: 700;
    margin-bottom: 25px;
}

.swiper-slide > div:nth-child(2){
    font-size: 16px;
}

.swiper-slide > div:nth-child(2) i {
    margin-right: 15px;
}

.main-locationContent-date{
    min-height: 180px;
}

.main-locationContent-datePlace >p:nth-child(3){
   max-width: 378px;
}


@media (max-width: 1400px) { 
/*     .students-img > img {
        height: 100%;
    }    */ 
    .main-expectationStats p {
        text-align: center;
    }

    .main-expectationStats{
        padding: 30px 0;
    }
    .stats {
    align-items: baseline;
    }
    .main-expectationImg  img{
        max-width: 55%;
    }

    .main-expectationContent{
        padding-left: 50px;
    }
    .main-expectation{
        padding: 80px 0;
        padding-top: 20px;
    }
    
 }


@media (max-width: 1350px) { 
    .students-img > img {
        height: 100%;
    }    


 }

 @media (max-width: 1200px){
    .header-menu > ul > li {
        font-size: 16px;
        padding-right: 10px;

    }
    header {
        background-color: white;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 10;
        height: 86px;
        padding: 15px 0;
        display: flex;
        box-shadow: 0 0 12px 1px rgba(0, 0, 0, 0.25);
    }
    .main{
        margin-top: 84px;
    }
    .main-content > .container > div:nth-child(1) p {
        color: white;
        font-weight: 700;
        font-style: italic;
        font-size: 16px;
    }
    .main-contentTitle {
        color: white;
        text-transform: uppercase;
        letter-spacing: 4.5px;
        font-size: 32px;
    }
    .main-content > .container > div:nth-child(1) button, .footer-btn {
        padding: 15px 30px;
        font-size: 14px;
    }

    .main-expectationImg img {
        max-width: 67%;
        height: 66%;
    }

    .main-expectationContent {
        padding-left: 80px;
    }
 }

 @media (max-width: 996px){
    .header-menu{
        display: none;
    }
    
    .students-img{
        display: none;
    }

    .header-logo img {
        max-width: 95%;

    }

    .main-expectationImg img {
        max-width: 120%;
        height: 66%;
    }

    .main-expectationImg > div:nth-child(2) img {
        top: 216px;
        left: 0;
        height: 53%;
    }

    .students{
        padding: 60px 0;
    }

    .main-expectationStats p {
        font-size: 14px;
    }

    .main-expectationStats {
        height: 240px;
    }

    .main-expectationStats {
        padding: 0px 0;
    }

    .main-expectationStatsRound {
        width: 90px;
        height: 90px;
    }

    .main-expectationStatsRound i {
        font-size: 34px;
    }

    .main-expectation h4, h4 {
        font-weight: 700;
        color: #0044b3;
        font-size: 26px;
    }

    .main-why, .main-location, .students, .main-why, .main-partners {
        padding: 60px 0px;
    }

    .main-why{
        padding-bottom: 0;
    }

    .main-whyTitle{
        font-size: 22px;
    }

    .main-whyContentFigure i{
        font-size: 38px;
    }
   
    .main-whyContent>div:nth-child(2){
        order: 6;
    }

    .main-whyContent>div:nth-child(5){
        order: 2;
    }

    .main-whyContent>div:nth-child(2){
        order: 4;
    }

    .main-location{
        padding-top: 0;
    }

    .main-locationContent-date h4 {
        font-size: 24px;
        font-weight: 900;
    }

    .main-locationContent-date > div:nth-child(1){
        padding-left: 7px;
    }

    .main-locationContent-datePlace{
        padding-left: 15px;
    }

    .main-locationContent-dateSub{
        font-size: 16px;
    }

    .main-locationContent-date{
        min-height: 195px;
    }

    .reviews > div:nth-child(2) h4 {
        margin-top: 80px;
        font-size: 36px;
        color: white;
        max-width: 500px;
    }

    .swiper-slide > div:nth-child(1) {
        font-style: italic;
        font-weight: 700;
        margin-bottom: 25px;
        font-size: 14px;
    }
 }


 @media (max-width: 768px){
    .main-contentTitle{
        padding-top: 172px;
        font-size: 26px;
    }

    .header-logo img {
        max-width: 80%;
    }
    .main-content > .container > div:nth-child(1) button, .footer-btn {
        padding: 12px 30px;
    }
    .main-expectationImg > div {
        height: 50%;
    }
    .main-expectationImg > div:nth-child(2) > img{
        position: static;
        width: 112%;
        height: 80%;
    }
    .main-expectationImg > div img {
        width: 112%;
        height: 80%;

    }
    .main-expectationContent {
        padding-left: 40px;
    }
    .main-locationContent-date {
        min-height: 178px;
    }
    .reviews > div:nth-child(2) h4 {
        font-size: 30px;
    }
    .swiper{
        padding-left: 30p;
    }

 }